<!DOCTYPE html>
<html>
<head>
  <title>AdventureMap</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <script type="text/javascript"
    src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBDhhNEcWOQn9vRJX51zKgLXzPV2QdRQZQ&sensor=true">
  </script>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
